@charset "UTF-8";

@media screen and (min-width: 601px) {
 
    .container{
        max-width: 95%;
        margin: auto;
    }
    .container-profile{
        display: flex;  
        align-items: center;
        justify-content: center;      
    }

    .container-nome{
        margin-top: 20px;
    }

    .head-menu{
        max-width: 95%;
        height: 64px;
        flex-shrink: 0;
        border-radius: 16px;
        background: rgba(123, 74, 226, 0.05);
        display: flex;
        margin: 2rem auto;
        padding-left: 30px;
        justify-content: end;


    }
    .head-menu-options{
        width: 99.152px;
        height: 37px;
        transform: rotate(-0.032deg);
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: rgba(255, 255, 255, 0.50);
        text-align: center;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 1.2rem;
        text-decoration: none;
        
    } 
     .head-menu-options-text-purple{
        width: 99.152px;
        height: 37px;
        transform: rotate(-0.032deg);
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: rgba(123, 74, 226, 0.50);
        text-align: center;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 1.2rem;
        text-decoration: none;
    }

    /*estudar outras solucoes*/
    .logo-menu{
        float: left;
        margin-right: 40rem;
    }

    .bio-text{
        display: none;
    }

    .bio-text-desktop{
        display: flex;
        color: rgba(255, 255, 255, 0.50);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        text-align: right;
     }

 
    .main:nth-child(1){
        order: 2;
    }

    .main:nth-child(2){
        order: 1;

    }.main:nth-child(3){
        order: 3;
    }

    .main-icons-desktop{
        display: block;
    }

    .main-icons-mobile{
        display: none;
    }
    
    .division{
        border: solid 1;
        width: 100%;
        height: 1px;
        background: rgba(123, 74, 226, 0.20);
    }
    .card-flex{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .card{
        flex-direction: column;
        margin: 3rem;
        margin-top: 6.25rem;
        margin-bottom: 2rem;
    } 

    .card-frontend{
        display: flex;
        width: 950px;
        height: 110px;
        flex-shrink: 0;
        border-radius: 16px;
        background: rgba(123, 74, 226, 0.10);
        margin-left: 16rem;
        margin-bottom: 6.25rem;
    }
    .card-frontend-content{
        margin: 4.3rem;
        text-align: center;
    }
    .card-frontend-text{
        color: #7B4AE2;
        text-align: center;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .card-frontend-text-high{
        color: #7B4AE2;
        text-align: center;
        font-family: Raleway;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }
    .linha{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .nome{
        display: none;
    }
    .nome-completo{
        display: flex;
        color: #FFF;
        font-family: Raleway;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        
    }
    

    .flex-container{
        justify-content: left;
    }

    .job-title{
        display: flex;
        width: 411.33px;
        height: 37px;
        transform: rotate(-0.033deg);
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: rgba(255, 255, 255, 0.50);
        text-align: justify;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
   
    .img-avatar{
        max-width: 510px;
        max-height: 510px;
    }

    .main-bts{
        width: 412px;
    }

    .main-bts-section{
        width: 185px;
    }

    .right{
        float: right;
    }
   
}

