@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');
@import url(/resources/css/estiloDesktop.css);
 /*versão mobile first */

 :root {
    --main-font: 'Raleway', sans-serif;
}
 
 body{
    font-family: var(--main-font);
    margin: 0px;
    box-sizing: border-box;
    height: 100vh;
 }

 body{
    background-color:#090E16;
    color: #fff;
    background-position: center center;
    
    
 }

img{
    margin: auto;
    max-width: 100%;
    height: auto; 
    
}

.img-center{
    text-align: center;
}

figure{
    display: inline-block;
    text-align: center;
    /*width: 80vh;*/
}

.img-avatar{
    border-radius: 10px 60px;
    width: 400px;
}

nav{
    text-align: center;
    margin-top: 25px;
}

.social-icons{
    margin: 0 5px;
    
}

@media  screen and (max-width: 600px) {
    

    
}

@media  screen and (max-width: 1720px) {
    
    
    
    
}

.container{
    max-width: 100%;
    
}

.container-saudacao{
    border-radius: 8px;
    background: rgba(123, 74, 226, 0.10);
    width: 122px;
    height: 32px;
    flex-shrink: 0;
    padding-top: 5px;
   
}

 .saudacao{
    color: #7B4AE2;
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
 }

 .nome{
    color: #FFF;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
 }
 .trabalhos-projetos{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
 }
 
 .job-title{
    opacity: 50%;
    font-size: 20px;
 }

 .linha {
    display: flex;
    flex-direction: column; 
}

.coluna {
    margin: 10px 20px; 
}

/* Flex */
.flex {
	display: flex;
}

.margin-md{
    margin-top: 20px;
}
.margin-right-md{
    margin-right: 10px;
}
.margin-left-md{
    margin-left: 10px;
}
.margin-top-md{
    margin-top: 1.3rem;
}
.margin-bottom-lg{
    margin-bottom: 4rem;
}
.card{
    padding: 35px 0;
    text-align: center;
    width: 246px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(123, 74, 226, 0.50);
    margin: 30px auto;
}

.card-destaque{
    background: rgba(123, 74, 226, 0.10);
    
}
.card-high{
    font-weight: bold;
    font-size: 30px;
   
}

.card-label{
    
    font-size: 15px;
}

.card-text{
    text-align: center;
}


.card-projects{
    width: 90%;
    height: 550px;
    border: solid 1px #7B4AE2;
    border-radius: 23px;
    padding: 50px 40px;
    margin: 50px 0 50px 25px;
    text-align: left;
}


.card-text-projects {
    text-align: center;
}


.topic{
    color: #7B4AE2;
    padding: 5px;
}

.presentation{
    opacity: 50%;
    font-size: 15px;
    text-align: justify;
}
.bt{
    background-color: #090E16;
    padding: 10px;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
}
.bt-whats{
    width: 178px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid rgba(123, 74, 226, 0.50);
}

.bt-download{
    border: none;
}

.text-justify{
    text-align: justify;
}
.text-opaco{
    color: rgba(255, 255, 255, 0.50);
text-align: justify;
font-family: Raleway;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 178.571% */
}
.text-purple{
    
    color: rgba(123, 74, 226, 0.50);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.text-card-title{
    font-size: 27px;
    font-weight: bold;
}

.link-behance{
    color: #7B4AE2;
    opacity: 50%;

}

